build/
build_nocurl/
**/build/
**/build_nocurl/
Testing/
**/Testing/
*.user
*.suo
.zeno_test_tmp_*/
test_tmp_*/
**/test_tmp_*/
.zeno_runs/
.Zeno_sandbox/
.Zeno_trash/
*.tmp
build_out.txt
test_out.txt
test_err.txt
